header{
    font-size: 20px;
}

.app-menu__list {
    display: flex;
}

.app-menu__item {
    list-style: none;
}

.app-menu__link {
    color: #fff;
    font-family: sans-serif;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
}

.app-menu__link:hover {
    text-decoration: underline;
    transition: 0.8s;
}