*{
    font-family: 'Bebas Neue', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 0;
    padding: 50px 24px;
    background-image: url("/public/img/bg.svg");
    background-size: 2000px 1000px;
    background-position: -500px 0;
    color: #f9f9f9;
    font-family: "Euclid Circular A";
    animation: gradient 10s infinite alternate linear;
    height: 1000px;
}

.avatar{
    margin: 0 auto 50px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #157ae1, #c7a1ff);
    padding: 2px;
    width: 124px;
    height: 124px;
}

.avatar > img {
    width: 94%;
    height: 94%;
    object-fit: cover;
    border-radius: 50%;
    
    border: 4px solid #161616;
}

.links {
    background-color: #ccc;
    width: 70%;
    height: 50px;
    border-radius: 5px;
}

.container a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 20px;
    color: #184a7e;
}

.container a:hover{
    color: #2264ab;
}